html {
    font-family: 'Roboto', 'Arial', sans-serif;
}

body {
    width: 600px;
    margin: auto;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background-color: #202020;
    border: rgba(128, 128, 128);
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}