html {
    font-family: 'Roboto', 'Arial', sans-serif;
}

body {
    width: 600px;
    margin: 0 auto 100px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background-color: #202020;
    border: rgba(128, 128, 128);
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.box {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding-top: 10px;
}

#eightball:hover {
    cursor: pointer;
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    margin-top: 10px;
}